*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.board{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 5px solid white;
}

.piece {
    height: 61.5px;
    width: 61.2px;
    text-align: center;
}

.piece > img{
    height: 55px;
}

.move {
    position: relative;
    height: 25px !important;
    width: 25px;
    top: 25%;
}