:root {
    --purple: #3e0249;
}

body {
    margin: 0;
    padding: 0;
    color: var(--purple);
    font-family: sans-serif;
    background-color: rgb(110, 124, 131);
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: green;
    padding: 10px 10px;
}

span {
    color: #3e0249;
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    border-radius: 10%;
}

.box {
    height: 130px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-size: 120px;
    border-radius: 10%;
}

button {
    padding: 20px 20px;
    border-radius: 10px;
    background-color: var(--purple);
    color: white;
    border-color: var(--purple);
    font-size: 18px;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    background-color: rgb(0, 234, 255);
}